<div class="items-center justify-center">
    <div class="max-w-screen-lg m-10 md:mx-auto items-center">
        <h1 class="mb-5 text-5xl font-bold">Contact</h1>
        <img class="object-cover w-full h-96 rounded mb-5" src="assets/map.jpg" alt="Crypto Barter Map Location">

        <h3 class="text-xl font-bold">Address:</h3>
        <p class="mb-5 text-justify">Galactic Exchange Hub,
            <br>
            Stellar Boulevard, Nebula City 54321,
            <br>
            Cosmic Galaxy
        </p>
        <h3 class="text-xl font-bold">Email:</h3>
        <p class="mb-5 text-justify">
            <a class="link link-hover" href="mailto:info@cosmicexchange.com">info&#64;cosmicexchange.com</a>
        </p>

        <h3 class="text-xl font-bold">Phone:</h3>
        <p class="mb-5 text-justify">
            <a class="link link-hover" href="tel:+15551234567">+1 (555) 123-4567</a>
        </p>
    </div>
</div>