<div class="items-center justify-center">
    <div class="max-w-screen-lg m-10 md:mx-auto items-center">
        <h1 class="mb-5 text-5xl font-bold">Transparency</h1>
        <p class="mb-5 text-justify">Galactic Exchange Hub,
            Welcome to Crypto Barter! This Transparency page provides insight into our practices, policies, and values,
            emphasizing our commitment to openness and honesty in all aspects of our operations.
        </p>
        <h2 class="text-3xl font-bold mb-3">1. Our Mission</h2>
        <p class="mb-5 text-justify">
            At Crypto Barter, our mission is to create a transparent and collaborative environment for users to exchange
            products and services. We are dedicated to fostering a community that values honesty and integrity.
        </p>
        <h2 class="text-3xl font-bold mb-3">2. Governance and Decision-Making</h2>
        <p class="mb-5 text-justify">
            Our governance structure is designed to ensure transparency in decision-making processes. Decisions
            affecting our users, services, or policies are made with careful consideration, and we strive to communicate
            these decisions openly.
        </p>
        <h2 class="text-3xl font-bold mb-3">3. Data Handling and Privacy</h2>
        <p class="mb-5 text-justify">
            We prioritize user privacy and handle data responsibly. Our Privacy Policy outlines how we collect, use, and
            protect user information. Any changes to our data handling practices will be communicated transparently to
            our users.
        </p>
        <h2 class="text-3xl font-bold mb-3">4. Financial Transparency</h2>
        <p class="mb-5 text-justify">
            Crypto Barter is committed to financial transparency. We strive to provide clear and accurate information
            about our financial activities, ensuring accountability to our users and stakeholders.
        </p>
        <h2 class="text-3xl font-bold mb-3">5. Community Engagement</h2>
        <p class="mb-5 text-justify">
            We encourage active engagement with our community. Through open communication channels, feedback mechanisms,
            and community forums, we aim to involve users in the decision-making processes and future developments of
            Crypto Barter.
        </p>
        <h2 class="text-3xl font-bold mb-3">6. Reporting Issues</h2>
        <p class="mb-5 text-justify">
            If you observe any discrepancies, have concerns, or wish to report issues related to our transparency
            commitments, please contact us at Crypto Barter. We value your input and will address concerns promptly.
        </p>
        <h2 class="text-3xl font-bold mb-3">7. Updates to Transparency</h2>
        <p class="mb-5 text-justify">
            This Transparency page may be updated as needed to reflect changes in our practices or to provide additional
            information. Users are encouraged to review this page periodically.
        </p>
        <h2 class="text-3xl font-bold mb-3">8. Contact Information</h2>
        <p class="mb-5 text-justify">
            For further inquiries regarding our transparency practices, please contact us at Crypto Barter.
        </p>
    </div>
</div>