<div class="items-center justify-center">
    <div class="max-w-screen-lg m-10 md:mx-auto items-center">
        <h1 class="mb-5 text-5xl font-bold">About</h1>
        <p class="mb-5 text-justify">Welcome to our innovative platform, where simplicity meets
            sustainability! Our
            proposal introduces
            a seamless web page and a user-friendly mobile application, empowering users to exchange unused items for
            products they truly need. The uniqueness of our platform lies in the optional integration of Bitcoin, a
            cryptocurrency, as a means to offset price differentials between products.

            Our dedicated team comprises a seasoned General Manager, alongside accomplished Directors overseeing
            Marketing,
            Finance, Sales, and Technology. Together, we are committed to creating a dynamic and efficient platform that
            revolutionizes the way users engage in sustainable and mutually beneficial exchanges. Join us on this
            exciting
            journey towards a more connected and eco-conscious community!</p>
        <h2 class="mb-5 text-3xl font-bold">Mission</h2>
        <p class="mb-5 text-justify">Welcome to our innovative platform, where simplicity meets

            Facilitate collaborative and sustainable product exchange among users through an intuitive web platform and
            mobile application. Our mission is to create a space where users can trade items they no longer need for
            those
            they require, promoting mindful consumption and contributing to the development of connected communities.
        </p>
        <h2 class="mb-5 text-3xl font-bold">Vision</h2>
        <p class="mb-5 text-justify">Become the global leader in collaborative exchange, offering users a unique and
            secure experience to efficiently share and acquire products. We aim to drive a cultural shift towards more
            sustainable and responsible consumption, championing the circular economy. Our vision includes expanding the
            platform to new regions and ongoing technological innovation, with the goal of becoming a trailblazer in
            promoting the sharing economy and the use of cryptocurrencies, especially Bitcoin, as an optional means of
            transaction. Through our commitment to innovation and social responsibility, we aspire to make a significant
            contribution to the well-being of the communities we serve.
        </p>
        <button class="btn btn-lg">Learn More</button>
    </div>
</div>