<div class="items-center justify-center">
    <div class="max-w-screen-lg m-10 md:mx-auto items-center">
        <h1 class="mb-5 text-5xl font-bold">Cookie Policy</h1>
        <p class="mb-5 text-justify">Galactic Exchange Hub,
            Welcome to Crypto Barter! This Cookie Policy outlines how Crypto Barter uses cookies to enhance the user
            experience on our website. By continuing to use our website, you consent to the use of cookies as described
            in this policy.
        </p>
        <h2 class="text-3xl font-bold mb-3">1. What Are Cookies?</h2>
        <p class="mb-5 text-justify">
            Cookies are small text files placed on your computer's hard drive when you visit a website. They help
            analyze web traffic and allow websites to respond to you as an individual.
        </p>
        <h2 class="text-3xl font-bold mb-3">2. How We Use Cookies</h2>
        <p class="mb-5 text-justify">
            We use cookies for the following purposes:
            - Analytical purposes to track and improve website performance.
            - Functionality purposes to remember your preferences.
        </p>
        <h2 class="text-3xl font-bold mb-3">3. Controlling Cookies</h2>
        <p class="mb-5 text-justify">
            You can control and/or delete cookies as you wish. Most browsers allow you to refuse cookies. However, doing
            so may limit your access to certain features of our website.
        </p>
        <h2 class="text-3xl font-bold mb-3">4. Third-Party Cookies</h2>
        <p class="mb-5 text-justify">
            Our website may use third-party services that use cookies. We have no control over these cookies. Please
            refer to the respective privacy policies of these third parties.
        </p>
        <h2 class="text-3xl font-bold mb-3">5. Changes to Cookie Policy</h2>
        <p class="mb-5 text-justify">
            This Cookie Policy may be updated from time to time. It is your responsibility to review this policy
            periodically.
        </p>
        <h2 class="text-3xl font-bold mb-3">6. Contact Information</h2>
        <p class="mb-5 text-justify">
            If you have questions or concerns about our Cookie Policy, please contact us at Crypto Barter.
        </p>
    </div>
</div>