<div class="items-center justify-center">
    <div class="max-w-screen-lg m-10 md:mx-auto items-center">
        <h1 class="mb-5 text-5xl font-bold">Privacy Policy</h1>
        <p class="mb-5 text-justify">Galactic Exchange Hub,
            Welcome to Crypto Barter! This Privacy Policy outlines how Crypto Barter collects, uses, and protects any
            information that you provide when using our website and services. By using our website, you agree to the
            terms outlined in this policy.
        </p>
        <h2 class="text-3xl font-bold mb-3">1. Information We Collect</h2>
        <p class="mb-5 text-justify">
            We may collect the following information:
            - Personal Information: Name, contact information, demographic information.
            - Non-Personal Information: IP address, browser type, operating system.
        </p>
        <h2 class="text-3xl font-bold mb-3">2. How We Use Your Information</h2>
        <p class="mb-5 text-justify">
            We use the collected information for the following purposes:
            - Personalization of user experience.
            - Internal record keeping.
            - Improvement of our products and services.
            - Periodic promotional emails about new products, special offers, or other information.
        </p>
        <h2 class="text-3xl font-bold mb-3">3. Security</h2>
        <p class="mb-5 text-justify">
            We are committed to ensuring that your information is secure. We have implemented suitable physical,
            electronic, and managerial procedures to safeguard and secure the information we collect online.
        </p>
        <h2 class="text-3xl font-bold mb-3">4. Cookies</h2>
        <p class="mb-5 text-justify">
            Our website uses cookies to enhance your experience. A cookie is a small file that asks permission to be
            placed on your computer's hard drive. By using our website, you agree to the use of cookies.
        </p>
        <h2 class="text-3xl font-bold mb-3">5. Third-Party Links</h2>
        <p class="mb-5 text-justify">
            Our website may contain links to third-party websites. We have no control over the content or practices of
            these websites and are not responsible for their privacy policies.
        </p>
        <h2 class="text-3xl font-bold mb-3">6. Your Control Over Information</h2>
        <p class="mb-5 text-justify">
            You can choose to restrict the collection or use of your personal information. If you have previously agreed
            to us using your personal information for direct marketing purposes, you may change your mind at any time by
            contacting us at Crypto Barter.
        </p>
        <h2 class="text-3xl font-bold mb-3">7. Updates to Privacy Policy</h2>
        <p class="mb-5 text-justify">
            This Privacy Policy may be updated from time to time. It is your responsibility to review this policy
            periodically.
        </p>
        <h2 class="text-3xl font-bold mb-3">8. Contact Information</h2>
        <p class="mb-5 text-justify">
            If you have questions or concerns about our Privacy Policy, please contact us at Crypto Barter.
        </p>
    </div>
</div>