<div class="hero min-h-screen"
  style="background-image: url(https://images.pexels.com/photos/15556066/pexels-photo-15556066/free-photo-of-two-farmers-exchanging-money.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-accent">Wellcome to Crypto Barter</h1>
      <p class="mb-5 text-justify text-accent-content">Welcome to our innovative platform, where simplicity meets sustainability! Our
        proposal introduces
        a seamless web page and a user-friendly mobile application, empowering users to exchange unused items for
        products they truly need. The uniqueness of our platform lies in the optional integration of Bitcoin, a
        cryptocurrency, as a means to offset price differentials between products.

        Our dedicated team comprises a seasoned General Manager, alongside accomplished Directors overseeing Marketing,
        Finance, Sales, and Technology. Together, we are committed to creating a dynamic and efficient platform that
        revolutionizes the way users engage in sustainable and mutually beneficial exchanges. Join us on this exciting
        journey towards a more connected and eco-conscious community!</p>
      <button class="btn btn-primary" (click)="goProducts()">Start Trading</button>
    </div>
  </div>
</div>