<div class="items-center min-w-full justify-center">
    <div class="card card-compact w-full sm:w-96 bg-base-100 shadow-xl mx-auto m-3">
        <figure><img loading="lazy" class="object-cover h-full w-full" src="{{baseUrl}}/product_image/{{product.id}}"
                alt="{{ product.description }}" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p>{{ product.description }}</p>
        </div>
    </div>

    <div class="w-full sm:w-96 mx-auto m-3">
        <select class="select select-bordered w-full" [(ngModel)]="selectedProductId" (ngModelChange)="updateTrade()">
            <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
        </select>
    </div>
    @if (selectedProductId) {
    <div class="card card-compact w-full sm:w-96 bg-base-100 shadow-xl mx-auto m-3">
        <figure><img loading="lazy" class="object-cover h-full w-full" src="{{baseUrl}}/product_image/{{tradeProduct.id}}"
                alt="{{ tradeProduct.description }}" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">{{ tradeProduct.name }}</h2>
            <p>{{ tradeProduct.description }}</p>
        </div>
    </div>

    <div class="w-full sm:w-96 mx-auto m-3">
        <button class="btn btn-block btn-lg btn-primary"
            [ngClass]="getDifference() < 0? 'btn-error':'btn-success'" (click)="done()">Trade for {{ getDifference() }} satoshis</button>
    </div>
    }
</div>